# Section 04: Case Study: The babynames Dataset
### `01-Filtering and arranging for one year`
- Filter for only the year 1990.
- Sort the table in descending order of the number of babies born.

In [1]:
install.packages("babynames")

Installing package into 'C:/Users/mosman/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'babynames' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\mosman\AppData\Local\Temp\RtmpKklJdE\downloaded_packages

In [8]:
library(babynames)
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [9]:
babynames <- babynames %>%
    rename(number = n)

In [10]:
babynames %>%
  # Filter for the year 1990
  filter(year == 1990) %>%
  # Sort the number column in descending order 
  arrange(desc(number))

      year sex name        number prop
1     1990 M   Michael     65282  0.03034735
2     1990 M   Christopher 52332  0.02432734
3     1990 F   Jessica     46475  0.02262700
4     1990 F   Ashley      45558  0.02218055
5     1990 M   Matthew     44800  0.02082597
6     1990 M   Joshua      43216  0.02008963
7     1990 F   Brittany    36538  0.01778903
8     1990 F   Amanda      34408  0.01675201
9     1990 M   Daniel      33815  0.01571943
10    1990 M   David       33742  0.01568549
11    1990 M   Andrew      33657  0.01564598
12    1990 M   James       32347  0.01503700
13    1990 M   Justin      30638  0.01424255
14    1990 M   Joseph      30127  0.01400500
15    1990 M   Ryan        29248  0.01359639
16    1990 M   John        29073  0.01351503
17    1990 M   Robert      28871  0.01342113
18    1990 M   Nicholas    27900  0.01296975
19    1990 F   Samantha    25866  0.01259322
20    1990 F   Sarah       25816  0.01256888
21    1990 M   Anthony     25075  0.01165650
22    1990 M   William     24892  0.01157143
23    1990 F   Stephanie   24861  0.01210392
24    1990 M   Jonathan    24074  0.01119117
25    1990 M   Kyle        22700  0.01055245
26    1990 F   Jennifer    22226  0.01082104
27    1990 M   Brandon     22159  0.01030095
28    1990 M   Jacob       22010  0.01023169
29    1990 F   Elizabeth   20744  0.01009951
30    1990 M   Tyler       20634  0.00959203
⋮     ⋮    ⋮   ⋮           ⋮      ⋮
24690 1990 M   Yarden      5      2.32e-06
24691 1990 M   Yardley     5      2.32e-06
24692 1990 M   Yeshayahu   5      2.32e-06
24693 1990 M   Yiannis     5      2.32e-06
24694 1990 M   Yishai      5      2.32e-06
24695 1990 M   Yitzhak     5      2.32e-06
24696 1990 M   Yochanan    5      2.32e-06
24697 1990 M   Yoon        5      2.32e-06
24698 1990 M   Yoshiki     5      2.32e-06
24699 1990 M   Yuya        5      2.32e-06
24700 1990 M   Yvette      5      2.32e-06
24701 1990 M   Yvonne      5      2.32e-06
24702 1990 M   Zaccaria    5      2.32e-06
24703 1990 M   Zacery      5      2.32e-06
24704 1990 M   Zachaery    5      2.32e-06
24705 1990 M   Zafir       5      2.32e-06
24706 1990 M   Zaher       5      2.32e-06
24707 1990 M   Zahid       5      2.32e-06
24708 1990 M   Zakir       5      2.32e-06
24709 1990 M   Zamar       5      2.32e-06
24710 1990 M   Zan         5      2.32e-06
24711 1990 M   Zander      5      2.32e-06
24712 1990 M   Zedekiah    5      2.32e-06
24713 1990 M   Zephan      5      2.32e-06
24714 1990 M   Zerick      5      2.32e-06
24715 1990 M   Zeus        5      2.32e-06
24716 1990 M   Ziyad       5      2.32e-06
24717 1990 M   Zoilo       5      2.32e-06
24718 1990 M   Zoran       5      2.32e-06
24719 1990 M   Zvi         5      2.32e-06

### `02-Using top_n with babynames`
- Use `group_by()` and `top_n()` to find the most common name for US babies in each year.